@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
* {
  padding: 0%;
  margin: 0%;
}
body {
  background-color: black;
  font-size: poppins;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 24px;
}
.container__inner {
  max-width: 1440px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  margin: 0 auto;
  background-color: white;
  display: flex;
  border-radius: 20px;
}
@media screen and (max-width: 1024px) {
  .container__inner {
    flex-direction: column-reverse;
  }
}
.container__right {
  flex: 1 1 50%;
  position: relative;
}
.container__right::after {
  content: '';
  background-image: url('assets/image 18.png');
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 286px;
  height: 360px;
  border-radius: 20px 0 0 0;
}
.container__right::before {
  content: '';
  background-image: url('assets/image 19.png');
  position: absolute;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 230px;
  height: 290px;
}
.container__right--content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 150px 130px;
}
.container__right-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__right-heading {
  color: #444;
  font-family: Poppins;
  font-size: 26.895px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container__right-label {
  display: block;
  color: #444;
  font-family: Poppins;
  font-size: 11.074px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container__right-label::after {
  content: '*';
  color: #FF3D00;
  font-family: Poppins;
  font-size: 11.074px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container__right-input {
  outline: none;
  padding: 12px 15px;
  border-radius: 20px;
  width: 100%;
  border: 1px solid #D2CECE;
}
.container__left {
  flex: 1 1 50%;
  background-image: url('assets/main\ img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 20px 20px 0;
}
